<html>
    <head>
        <title>edit entry page</title>
    </head>
    <body>
        <h1>エントリーの修正</h1>
        <a href="/entries">一覧へ</a>
        <form method="post" action="/entries/{{entry.id}}/edit">
            <div>タイトル: <input type="text" name="title" value="{{entry.title}}"></div>
            <div>
                本文:<br/>
                <textarea name="body">{{ entry.body }}</textarea>
            </div>
            <input type="submit" value="送信">
        </form>
        <form method="post" action="/entries/{{entry.id}}/delete">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="削除する">
        </form>
    </body>
</html>